/Debug/
.*swp
*.pydevproject
.metadata
.gradle
bin/
.bin/
obj/
x64/
tmp/
*.tmp
*.bak
*.swp
*~.nib
*.tlog
*.obj
local.properties
.settings/
.loadpath

# Exclude the output files after execution
factory.csr
deviceFactoryCert.pem
deviceFactoryCert.der

/Release/
**/build_factory/
**/build_client_vaultic/
**/build/
**/build_perso/
**/build_read_cert/
**/build_sign/
**/build_keygen/
**/.vscode
**/build_client/
**/build_server/

# Eclipse Core
.project

.AppleDouble

.idea

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific
.buildpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse

.DS_Store
*.o

.vs

# Python
.tox/
.pytest_cache/
#build/
.build/
*.pyc
.dist/
dist/
/python/.coverage*
/python/venv*
/python/cryptoauthlib.egg-info
/python/VERSION
